* {
  margin: 0
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app_header{
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 20px;
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
 
.app_signup{
  display: flex;
  flex-direction: column;
}

.app_headerImg{
  object-fit: contain;
}

.app_post{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postRight{
  margin-left: 20px;
}